@import "./base/reset.css";
@import "./base/base.css";



.container {
    width: 100%;
    box-sizing: content-box;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__container {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: center;
}
    .header__logo {
        margin-top: 53px;

    }
        .logo__image {
            vertical-align: middle;
        }


    .header__menu {
        color: black;
        align-content: center;
    }
        .header__menu-list {
            list-style: none;
            display: flex;
            gap: 35px;
            text-align: center;
            justify-content: end;
        }
            .header__menu-item_selected {
                border-bottom: 2px solid #FFFFFF;
                padding-bottom: 8px;
            }
                .header__menu-link {
                    color: #FFFFFF;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 20px;
                    
                }



.welcome {
    /* height: 567px; */
    height: 584px;
    display: flex;
    width: 100%;
    margin-bottom: 82px;
}
    .welcome__container {
        display: flex;
    }

    .welcome__title {
        padding-top: 111px;
        align-content: center;
        width: 50%;
        height: max-content;
        max-width: max-content;
        text-align: left;
        margin-left: 80px;
    }
        .welcome__title-main-text {
            max-width: 415px;
            font-size: 60px;
            font-weight: 400;
            line-height: 60px;
            box-sizing: content-box;
            margin-bottom: 40px;
        }
        .welcome__title-text {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            width: 283px;
            margin-bottom: 52px;
        }
            .welcome__title-button {
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 400;
                line-height: 26px;
                color: #FFFFFF;
                background-color: #68B738;
                height: 54px;
                width: max-content;
                padding: 14px 26px;
            }


    .welcome__right-image {
        background-image: url("/img/index-background-desktop.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-clip: content-box;
        position: absolute;
        right: 0;
        width: 50%;
        height: 696px;
        margin-top: -112px;
    }

        .welcome__img-eat {
            position: relative;
            top: 144px;
            left: -162px;
        }

.catalogs {
    margin-bottom: 71px;
}
.catalogs__container {
    display: flex;
    justify-content: space-between;
}
    .card {
        width: 570px;
        height: 376px;
        background-color: #F2F2F2;
        padding: 41px 52px 0px 52px;
    }
        .card__name {
            margin-bottom: 39px;
            display: flex;
        }
            .card__name-text {
                text-transform: uppercase;
                font-weight: 400;
                font-size: 36px;
                line-height: 36px;
                align-content: center;
                margin-left: 62px;
            }
        .card__description {
            margin-bottom: 23px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
        .card__type-catalog {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 20px;
            line-height: 29.64px;
            height: 38px;
            align-content: center;
            text-align: left;
            display: flex;
            align-items: center;
            color: #000000;
            width: max-content;
        }
            .card__arrow-right {
                align-content: center;
                margin-left: 28px;
            }


    
.how-it-works {
    margin-bottom: 11px;
}

.how-it-works__title {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 32px;
}
.info-works {
    display: flex;
    justify-content: space-between;
}
.info-works__item {
    width: 230px;
    height: 280px;
    padding-top: 40px;

    position: relative;
    display: grid;
    
}
.info-works__icon {
    margin-bottom: 31px;
}
.info-works__description {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
}

.info-works__bg-num {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    color: #F2F2F2;
    font-size: 280px;
    line-height: 280px;
}



.before-after {
    background-color: #F2F2F2;
    position: relative;
}

.before-after__title {
    position: relative;
    /* top: -150px; */
    top: -136px;
    /* margin: 69px 0 76px 0; */
    /* margin-top: 69px; */
    margin-top: 205px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    width: max-content;
}

.before-after__info {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 75px 0;
    /* padding: 70px 0 75px 0; */
    /* background-color: #F2F2F2; */
    background-size: 100%;
    background-clip: content-box;
    height: max-content;
}
.before-after__characteristics {
    /* margin-right: 134px; */
    /* box-sizing: content-box; */
    height: max-content;
}

.before-after__description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    max-width: 436px;
    color: #444444;
    margin-bottom: 69px;
}

.before-after__mass-and-days {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 55px;
}


.before-after__mass, .before-after__days {
    width: 162px;
    height: 77px;
}
.before-after__mass {
    background-image: url(/icon2/weight\ back1.svg);
    background-repeat: no-repeat;
    margin-right: 42px;
}
.before-after__days {
    background-image: url(/icon2/weight\ back2.svg);
    background-repeat: no-repeat;
}
.before-after__kg-title, .before-after__days-title {
    font-size: 30px;
    line-height: 37px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 11px;
}
.before-after__kg-title {
    padding: 15px 56px 0 56px;
}
.before-after__days-title {
    padding: 15px 30px 0 30px;
}
.before-after__kg-text, .before-after__days-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-align: center;
}

.before-after__food-costs {
    display: flex;
    /* justify-content: space-between; */
}

.before-after__food-costs-title, .before-after__food-costs-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}
.before-after__food-costs-title {
    margin-right: 63px;
    text-transform: uppercase;
    letter-spacing: 0.16px
}











.before-after__slider {
    position: relative;
    /* margin-left: 134px; */
    width: 690px;
    box-sizing: content-box;
    /* top: -264px; */
}
.before-after__cats {
    position: absolute;
    /* right: 0; */
    display: flex;
    /* right: -36px; */
    right: -40px;
    top: -264px;
}

.before-after__cat-before-icon, .before-after__cat-after-icon {
    position: relative;
}
.before-after__cat-before-icon {
    height: 536px;
}
.before-after__cat-after-icon {
    background-color: #EAEAEA;
    background-size: 100%;
    background-clip: border-box;
}

.slider-line {
    position: absolute;
    width: max-content;
    /* top: -67px; */
    bottom: -10px;
    /* right: -36px; */
    left: 118.5px;
    display: flex;
    align-items: center;
}
.slider-line__before-text, .slider-line__after-text {
    font-size: 20px;
    line-height: 29.64px;
    font-weight: 400;
    text-transform: uppercase;

}
.slider-line__before-text {
    margin-right: 24px;
    /* width: 49px; */
    letter-spacing: 0.54px
}
.slider-line__line-img {
    position: relative;
    top: 1px;
    /* height: 34px; */
    /* padding-bottom: -0.5px; */
}
.slider-line__after-text {
    margin-left: 19.5px;
    letter-spacing: 0.21px
}





.footer {
    padding-top: 57px;
    background-color: #F2F2F2;
    margin-top: 100px;
}
    .footer__logo {
        margin-left: 110px;
    }