@import "./base/reset.css";
@import "./base/base.css";



.container {
    width: 100%;
    box-sizing: content-box;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__container {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: center;
}
    .header__logo {
        margin-top: 53px;

    }
        .logo__image {
            vertical-align: middle;
        }


    .header__menu {
        color: black;
        align-content: center;
    }
        .header__menu-list {
            list-style: none;
            display: flex;
            gap: 35px;
            text-align: center;
            justify-content: end;
        }
            .header__menu-item_selected {
                border-bottom: 2px solid #FFFFFF;
                padding-bottom: 8px;
            }
                .header__menu-link {
                    color: #FFFFFF;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 20px;
                    
                }



.welcome {
    /* height: 567px; */
    height: 584px;
    display: flex;
    width: 100%;
    margin-bottom: 82px;
}
    .welcome__container {
        display: flex;
    }

    .welcome__title {
        padding-top: 111px;
        align-content: center;
        width: 50%;
        height: max-content;
        max-width: max-content;
        text-align: left;
        margin-left: 80px;
    }
        .welcome__title-main-text {
            max-width: 414px;
            font-size: 60px;
            font-weight: 400;
            line-height: 60px;
            box-sizing: content-box;
            margin-bottom: 40px;
        }
        .welcome__title-text {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            width: 283px;
            margin-bottom: 52px;
        }
            .welcome__title-button {
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 400;
                line-height: 26px;
                color: #FFFFFF;
                background-color: #68B738;
                height: 54px;
                width: max-content;
                padding: 14px 26px;
            }


    .welcome__right-image {
        background-image: url("/img/index-background-desktop.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-clip: content-box;
        position: absolute;
        right: 0;
        background-position-x: 200%;
        width: 50%;
        height: 696px;
        margin-top: -112px;
    }

        .welcome__img-eat {
            position: relative;
            top: 144px;
            left: -162px;
        }

.catalogs {
    margin-bottom: 71px;
}
.catalogs__container {
    display: flex;
    justify-content: space-between;
}
    .card {
        width: 570px;
        height: 376px;
        background-color: #F2F2F2;
        padding: 41px 52px 0px 52px;
    }
        .card__name {
            margin-bottom: 39px;
            display: flex;
        }
            .card__name-text {
                text-transform: uppercase;
                font-weight: 400;
                font-size: 36px;
                line-height: 36px;
                align-content: center;
                margin-left: 62px;
            }
        .card__description {
            margin-bottom: 23px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
        .card__type-catalog {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 20px;
            line-height: 29.64px;
            height: 38px;
            align-content: center;
            text-align: left;
            display: flex;
            align-items: center;
        }
            .card__arrow-right {
                align-content: center;
                margin-left: 28px;
            }


    
/* .how-it-works__container {
    display: flex;
    justify-content: space-between;
} */

.how-it-works__title {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 32px;
}
.info-works {
    display: flex;
    justify-content: space-between;
}
.info-works__item {
    width: 230px;
    height: 280px;
    padding-top: 40px;

    position: relative;
    display: grid;
    
}
.info-works__icon {
    margin-bottom: 31px;
}
.info-works__description {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
}

.info-works__bg-num {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    color: #F2F2F2;
    font-size: 280px;
    line-height: 280px;
}




.footer {
    padding-top: 57px;
    background-color: #F2F2F2;
    margin-top: 100px;
}
    .footer__logo {
        margin-left: 110px;
    }