@import "./base/reset.css";
@import "./base/base.css";



.container {
    width: 100%;
    box-sizing: content-box;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__container {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: center;
}
.header__logo {
    margin-top: 53px;

}
.logo__image {
    vertical-align: middle;
}


.header__menu {
    color: black;
    align-content: center;
}
.header__menu-list {
    list-style: none;
    display: flex;
    gap: 35px;
    text-align: center;
    justify-content: end;
}
.header__menu-item_selected {
    /* border-bottom: 2px solid #FFFFFF; */
    padding-bottom: 8px;
}
.header__menu-item_selected {
    border-bottom: 2.5px solid #FFFFFF;
}
.header__menu-link {
    position: relative;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}
.header__menu-link:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}
.header__menu-link:not(.header__menu-item_selected .header__menu-link):hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px; /* Высота линии */
    background-color: #FFFFFF; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}



.welcome {
    /* height: 567px; */
    height: 584px;
    display: flex;
    width: 100%;
    margin-bottom: 82px;
}
.welcome__container {
    display: flex;
}

.welcome__title {
    padding-top: 111px;
    align-content: center;
    width: 50%;
    height: max-content;
    max-width: max-content;
    text-align: left;
    margin-left: 80px;
}
    .welcome__title-main-text {
        max-width: 415px;
        font-size: 60px;
        font-weight: 400;
        line-height: 60px;
        box-sizing: content-box;
        margin-bottom: 40px;
    }
.welcome__title-text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    width: 283px;
    margin-bottom: 52px;
}
.welcome__title-button {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #68B738;
    height: 54px;
    width: max-content;
    padding: 14px 26px;
    transition: background-color 0.4s, box-shadow 0.2s 0.3s;
}
.welcome__title-button:hover {
    background-color: #3f8a7c;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3f8a7c;
}


.welcome__right-image {
    background-image: url("/img/index-background-desktop.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip: content-box;
    position: absolute;
    right: 0;
    width: 50%;
    height: 696px;
    margin-top: -112px;
}

    .welcome__img-eat {
        position: relative;
        top: 144px;
        left: -162px;
    }

.catalogs {
    margin-bottom: 71px;
}
.catalogs__container {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 570px;
    height: 376px;
    background-color: #F2F2F2;
    padding: 41px 52px 0px 52px;
}
.card__name {
    margin-bottom: 39px;
    display: flex;
}
.card__name-text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    align-content: center;
    margin-left: 62px;
}
.card__description {
    margin-bottom: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.card__type-catalog-container {
    display: inline-block;
}
.card__type-catalog {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    line-height: 29.64px;
    height: 38px;
    align-content: center;
    text-align: left;
    display: flex;
    align-items: center;
    color: #000000;
    width: max-content;
    /* display: inline-block; */
}
.card__type-catalog-container:after {
    background-color: #68B738; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.card__type-catalog-container:hover:after, .card__type-catalog-container:focus:after {
    width: 100%;
}
.card__arrow-right {
    align-content: center;
    margin-left: 28px;
}


    
.how-it-works {
    margin-bottom: 11px;
}

.how-it-works__title {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 32px;
}
.info-works {
    display: flex;
    justify-content: space-between;
}
.info-works__item {
    width: 230px;
    height: 280px;
    padding-top: 40px;

    position: relative;
    display: grid;
    
}
.info-works__icon {
    margin-bottom: 31px;
}
.info-works__description {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
}

.info-works__bg-num {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    color: #F2F2F2;
    font-size: 280px;
    line-height: 280px;
}



.before-after__background-container {
    background-color: #F2F2F2;
}
.before-after__container-info {
    position: relative;
}

.before-after__title {
    margin: 69px 0 76px 0;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    width: max-content;
}

.before-after__info {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 70px 0 75px 0;
    background-size: 100%;
    background-clip: content-box;
    height: max-content;
}
.before-after__characteristics {
    height: max-content;
}

.before-after__description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    max-width: 436px;
    color: #444444;
    margin-bottom: 69px;
}

.before-after__mass-and-days {
    display: flex;
    margin-bottom: 55px;
}

.before-after__mass-and-days-container {
    width: 162px;
    height: 77px;
}
.before-after__mass {
    background-image: url(/icon/weight\ back1.svg);
    background-repeat: no-repeat;
    margin-right: 42px;
}
.before-after__days {
    background-image: url(/icon/weight\ back2.svg);
    background-repeat: no-repeat;
}
.before-after__mass-and-days-title {
    font-size: 30px;
    line-height: 37px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 11px;
}
.before-after__kg-title {
    padding: 15px 56px 0 56px;
}
.before-after__days-title {
    padding: 15px 30px 0 30px;
}
.before-after__mass-and-days-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-align: center;
    color: #444444;
}

.before-after__food-costs {
    display: flex;
}

.before-after__food-costs-title, .before-after__food-costs-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}
.before-after__food-costs-title {
    margin-right: 63px;
    text-transform: uppercase;
    letter-spacing: 0.16px
}











.before-after__slider {
    position: relative;
    /* margin-left: 134px; */
    width: 690px;
    box-sizing: content-box;
    /* top: -264px; */
}
.before-after__cats {
    position: absolute;
    /* right: 0; */
    display: flex;
    /* right: -36px; */
    right: -40px;
    top: -264px;
}

.before-after__cat-before-icon, .before-after__cat-after-icon {
    position: relative;
}
.before-after__cat-before-icon {
    height: 536px;
}
.before-after__cat-after-icon {
    background-color: #EAEAEA;
    background-size: 100%;
    background-clip: border-box;
}

.slider-line {
    position: absolute;
    width: max-content;
    /* top: -67px; */
    bottom: -10px;
    /* right: -36px; */
    left: 118.5px;
    display: flex;
    align-items: center;
}
.slider-line__before-text, .slider-line__after-text {
    font-size: 20px;
    line-height: 29.64px;
    font-weight: 400;
    text-transform: uppercase;

}
.slider-line__before-text {
    margin-right: 24px;
    /* width: 49px; */
    letter-spacing: 0.54px
}
.slider-line__line-img {
    position: relative;
    top: 1px;
    /* height: 34px; */
    /* padding-bottom: -0.5px; */
}
.slider-line__after-text {
    margin-left: 19.5px;
    letter-spacing: 0.21px
}


.map {
    height: 400px;
    position: relative;
}
.map_iframe {
    position: absolute;
}
.map__container {
    height: inherit;
    display: flex;
    align-items: center;
}
.map__invite {
    position: relative;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    width: 570px;
    height: 201px;
    align-items: center;
}
.map__title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    max-width: 163px;
}
.map__address {
    width: 155px;
}
.map__street, .map__city {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
}
.map__street {
    margin-bottom: 19.11px;
}



.footer {
    padding: 57px 0 58px 0;
    background-color: #F2F2F2;
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.footer__social-link {
    display: inline-block;
    position: relative;
    -webkit-transition: background 0.2s;
            transition: background 0.2s;
    background-repeat: no-repeat;
}
  
.footer__social-link::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    content: "";
    -webkit-transition: height 0.2s;
            transition: height 0.2s;
}
  
.footer__social-link:hover::after {
    height: 4px;
}


.footer__social-link:hover {
    background-position: 0 0px;
    cursor: pointer;
}

.footer__social-link::after {
    background-color: #a7a7a7;
}


.footer__social-link_vkontakte {
    width: 30px;
    height: 30px;
    background-image: url("/icon/icon_vkontakte_1.svg");
    background-position: 0 3px;
}
.footer__social-link_vkontakte:hover {
    background-image: url("/icon/icon_vkontakte_2.svg");
}
.footer__social-link_instagram {
    width: 23px;
    height: 31px;
    background-image: url("/icon/icon_instagram_1.svg");
    background-position: 0 3px;
}

.footer__social-link_instagram:hover {
    background-image: url("/icon/icon_instagram_2.svg");
}
.footer__social-link_facebook {
    width: 19px;
    height: 39px;
    background-image: url("/icon/icon_facebook_1.svg");
    background-position: 0 3px;
}
.footer__social-link_facebook:hover {
    background-image: url("/icon/icon_facebook_2.svg");
}




.footer__HTML-academy {
    display: flex;
    align-items: center;
    width: 163px;
}









