.additional {
    position: relative;
    margin-bottom: 82px;
}
.additional__hr-title {
    position: absolute;
    top: 23px;
    border: unset;
    height: 0;
    width: 100%;
    border-top: 2px solid #68B738;
    z-index: -1;
}
.additional__title {
    width: fit-content;
    padding: 0 40px;
    margin-left: -40px;
    background-color: #FFFFFF;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 57px;
}

.additional__form {
    display: flex;
    flex-direction: column;
}
.additional__list-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 61px;
}
.additional__item {
    display: flex;
    align-items: center;
    gap: 19px;
}

.additional__input {
    min-width: 40px;
    width: 40px;
    height: 40px;
}
.additional__label {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
}

.additional__send-container {
    display: flex;
    align-items: center;
    gap: 81px;
}
.additional__button {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    padding: 13px 0px;
    width: 568px;
    background-color: #68B738;
}
.additional__note {
    font-size: 16px;
    white-space: nowrap;
}




@media (max-width: 770px) {
    .additional__list-items {
        flex-wrap: wrap;
        gap: 32px 0;
    }
    .additional__item:nth-child(odd) {
        width: 70%;
    }
    .additional__item:nth-child(even) {
        width: 30%;
    }
    .additional__button  {
        width: 282px;
        min-width: 260px;
        height: 52px;
    }
}

@media (max-width: 660px) {
    .additional__item:nth-child(odd) {
        width: 60%;
    }
    .additional__item:nth-child(even) {
        width: 40%;
    }
}
@media (max-width: 600px) {
    .additional__send-container {
        gap: 15px;
        justify-content: space-between;
    }
}

@media (max-width: 500px) {
    .additional {
        margin-bottom: 32px;
    }
    .additional__hr-title {
        top: 15px;
    }
    .additional__title {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 34px;
    }
    .additional__input {
        min-width: 30px;
        width: 30px;
        height: 30px;
    }
    .additional__label {
        font-size: 16px;
    }
    .additional__send-container {
        flex-direction: column;
    }
    .additional__button {
        width: 100%;
        font-size: 16px;
        padding: 7px  44px;
        height: 40px;
    }
    .additional__note {
        font-size: 14px;
    }
}
@media (max-width: 420px) {
    .additional__list-items {
        flex-wrap: unset;
        flex-direction: column;
        gap: 13px;
        align-items: unset;
        margin-bottom: 34px;
    }
    .additional__item {
        gap: 16px;
    }
    .additional__item:nth-child(odd) {
        width: unset;
    }
    .additional__item:nth-child(even) {
        width: unset;
    }
}