@import "../base/reset.css";
@import "../base/base.css";
@import "./header.css";
@import "./welcome.css";
@import "./catalogs.css";
@import "./how-it-works.css";
@import "./before-after.css";
@import "./map.css";
@import "./footer.css";


.container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}
@media (max-width: 768px) {
    .container {
        max-width: 708px;
        padding: 0 30px;
    }
}
@media (max-width: 340px) {
    .container {
        max-width: 280px;
        padding: 0 20px;
        box-sizing: content-box;
    }
}


