.additional-products {
    position: relative;
    margin-bottom: 86px;
}
.additional-products__hr-title {
    position: absolute;
    top: 23px;
    border: unset;
    height: 0;
    width: 100%;
    border-top: 2px solid #68B738;
    z-index: -1;
}
.additional-products__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    width: fit-content;
    padding: 0 40px;
    margin-left: -40px;
    background-color: #FFFFFF;
    margin-bottom: 81px;
}

.additional-products__content {
    display: grid;
    grid-template-columns: 1fr 245px;
    grid-template-rows: 289px;
    column-gap: 79px;
}
.additional-products__products-list {
    display: grid;
    box-sizing: content-box;
    grid-template-rows: repeat(3, auto);
    width: 100%;
}
.additional-products__product-item {
    box-sizing: content-box;
    padding: 15px 0 17px 0;
    border-bottom: 1px solid #CDCDCD;
    display: grid;
    grid-template-columns: 161px 132px auto 244px;
    justify-content: space-between;
    align-items: center;
}
.additional-products__product-item:first-child {
    border-top: 1px solid #CDCDCD;
}
.additional-products__product-name {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}

.additional-products__product-quantity {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #444444;
}
.additional-products__product-price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #444444; 
}
.additional-products__product-button {
    height: fit-content;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 0;
    background-color: #68B738;
    transition: background-color 0.4s, box-shadow 0.2s 0.3s;
}
.additional-products__product-button:hover {
    background-color: #3f8a7c;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3f8a7c;
}



.additional-products__gift {
    /* background-image: url("../../img/catalog/gift-photo.jpg"); */
    background: url("../../img/catalog/gift-photo.jpg") no-repeat center center/cover;
    /* background-repeat: no-repeat;
    background-size: 100%;
    background-clip:border-box; */
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 46px;
}
.additional-products__gift-icon {
    text-align: center;
    margin: 0 auto;
}
.additional-products__gift-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    width: 161px;
    text-align: center; 
}


@media (max-width: 1000px) {
    .additional-products__content {
        column-gap: 20px;
    }
    .additional-products__product-item {
        grid-template-columns: 161px 2fr 1fr 1fr
    }
    .additional-products__product-quantity {
        padding-left: 30px;
    }
}

@media (max-width: 850px) {
    .additional-products__content {
        grid-template-columns: unset;
        grid-template-rows: unset;
        row-gap: 69px;
    }
    .additional-products__products-list {
        border: 1px solid #CDCDCD;
        /* padding: 0 38px; */
    }
    .additional-products__product-item {
        grid-template-columns: auto auto 44px;
        /* grid-template-columns: max-content max-content max-content; */
        grid-template-rows: auto auto;
        padding: 26px 38px 28px 38px;
        row-gap: 25px;
        column-gap: 50px;
        justify-content: unset;
        /* text-align: right; */
    }
    .additional-products__product-item:first-child {
        border-top: unset
    }
    .additional-products__product-item:last-child {
        border-bottom: unset
    }
    .additional-products__product-quantity, .additional-products__product-price {
        justify-self: end;
    }
    .additional-products__product-button {
        grid-column: span 3;
    }
    .additional-products__gift {
        background: url("../../img/catalog/gift-photo-tablet.jpg") no-repeat center center/cover;
        height: 200px;
        /* grid-template-columns: 1fr 1fr; */
        grid-template-columns: repeat(2, auto);
        padding: 0 124px 0 78px;
        justify-content: space-between;
    }

}

@media (max-width: 610px) {
    .additional-products__product-item {
        column-gap: 20px;
    }
}


@media (max-width: 550px) {
    .additional-products__products-list {
        border: unset;
        row-gap: 12px;
    }
    .additional-products__product-item {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        padding: unset;
        padding-bottom: 19px;
        border-bottom: 1px solid #CDCDCD;
    }
    .additional-products__product-item:first-child {
        padding-top: 13px;
        border-top: 1px solid #CDCDCD;
    }
    .additional-products__product-item:last-child {
        border-bottom: 1px solid #CDCDCD;
    }
    .additional-products__product-quantity {
        grid-column: 1;
        grid-row: 2;
        justify-self: start;
        padding-left: unset;
    }
    .additional-products__product-price {
        grid-column: 2;
        grid-row: 2;
    }
    .additional-products__product-button {
        grid-column: span 2;
    }
}
@media (max-width: 510px) {
    .additional-products {
        margin-bottom: 35px;
    }
    .additional-products__hr-title {
        top: 14px;
    }
    .additional-products__content {
        row-gap: 39px;
    }
    .additional-products__title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 35px;
    }
    .additional-products__product-item {
        column-gap: unset;
        row-gap: 13px;
    }
    .additional-products__product-name {
        font-size: 16px;
        line-height: 16px;
    }
    .additional-products__product-quantity {
        font-size: 14px;
        line-height: 14px;
    }

    
    .additional-products__gift {
        background: url(../../img/catalog/gift-photo-mobile.png) no-repeat center center / cover;
        padding: unset;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        row-gap: 48px;
        height: 289px;
        justify-content: center;
    }
    .additional-products__gift-text {
        font-size: 16px;
        line-height: 20px;
    }
}