.main-catalog {
    margin-bottom: 76px;
}
.main-catalog__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 165px; 
}

.main-catalog__product-list {
    display: grid;
    grid-template-rows: repeat(auto-fill, 511px);
    grid-template-columns: repeat(auto-fill, minmax(230px, 245px));
    justify-content: space-between;
    row-gap: 63px;
    align-items: end; 
    column-gap: 14px;
}

.product  {
    position: relative;
    height: fit-content;
    box-sizing: border-box;
    padding: 0px 39px 40px 39px;
    display: grid;
    justify-content: center;
    align-items: end; 
    grid-template-rows: repeat(4, auto);
}
.product_show-all {
    padding-top: 51px;
}
.product__background {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 431px;
    width: 100%;
    background-color: #F2F2F2;
    z-index: -1;
}
.product__background_show-all {
    background-color: unset;
    border: 2px solid #F2F2F2;
}

.product__content {
    background-color: #F2F2F2;
    padding: 162px 39px 40px 39px;
}
.product__img {
    max-height: 201px;
}

.product__img:last-of-type {
    display: none;
}
.product__name {
    max-width: 130px;
    text-align: center;
    font-size: 20px;
    line-height: 21px;
    font-weight: 400;
    color: #222222;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 46px;
    margin-bottom: 22px;
}
.product__name_show-all {
    margin-bottom: 23px;
}
.product__characteristic {
    margin-bottom: 33px;
    display: grid;
    row-gap: 8px;
}
.product__characteristic-item {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-bottom: 9px;
    border-bottom: 1px solid #CDCDCD;

}
.product__characteristic-item span {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
}

.product__button {
    width: 100%;
    height: fit-content;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 0;
    background-color: #68B738;
    margin: 0 auto;
    transition: background-color 0.4s, box-shadow 0.2s 0.3s;
}
.product__button:hover {
    background-color: #3f8a7c;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3f8a7c;
}
.product__button_show-all {
    color: #444444;
    background-color: #F2F2F2;
}

.product__plus {
    margin: 0 auto;
}

.product__description {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 87px;
    text-align: center;
}

.product__hr {
    display: none;
}
@media (max-width: 805px) {
    .main-catalog__title {
        margin-bottom: 83px;
    }
    .product {
        justify-content: unset;
    }
    .product__img {
        justify-self: center;
    }
    .product__name {
        margin-top: 33px;
    }
    .main-catalog__product-list {
        grid-template-rows: repeat(4, 511px);
        grid-template-columns: repeat(2, minmax(200px, 324px));
        row-gap: 59px;
    }
}

@media (max-width: 510px) {
    .container.main-catalog__container {
        padding: unset;
    }
    .main-catalog__title {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 41px;
        padding: 0 0 0 40px;
    }
    .main-catalog__product-list {
        grid-template-columns: auto;
        grid-template-rows: unset;
        grid-auto-rows: unset;
        row-gap: 19px;
        justify-content: unset;
    }
    .product {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto-fill, auto);
        column-gap: 36px;
        padding: 0 40px 0 40px;
        padding-bottom: 25px;
    }
    .product::after {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        border-bottom: 1px solid #EBEBEB; 
    }
    .product:first-child {
        padding-top: 19px;
    }
    .product:first-child::before {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        top: 0;
        border-top: 1px solid #EBEBEB; 
    }

    .product__background {
        display: none;
    }
    .product__img:first-of-type {
        display: none;
    }
    .product__img:last-of-type {
        display: unset;
    }
    .product__img {
        grid-column: span 1;
        grid-row: span 2;
        align-self: center;
    }
    .product__name:not(.product__name_show-all) {
        max-width: 76px;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        margin-top: unset;
        margin-bottom: 18px;
    }
    .product__characteristic {
        row-gap: 6px;
        margin-bottom: 22px;
    }
    .product__characteristic-item {
        padding-bottom: unset;
        border-bottom: unset;
    }
    .product__characteristic-item span {
        font-size: 12px;
        line-height: 16px;
    }
  
    .product__button {
        grid-column: span 2;
    }

    .product__button.product__button_show-all {
        grid-column: unset;
    }
    .product_show-all {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        justify-items: center;
    }
    .product__plus {
        width: 30px;
        margin-bottom: 23px;
    }
    .product__name.product__name_show-all {
        max-width: unset;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;
    }
    .product__description {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 21px;
    }
}

@media (max-width: 320px) {
    .product {
        padding: 0 20px;
    }
}