


* {
    /* font-family: "Segoe UI"; */
    /* font-family: Oswald-Regular, Oswald, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji",Helvetica,Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" */
    font-family: Oswald
}

hr {
    border-bottom: 1px solid rgb(200, 194, 194);
}

.container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}
@media (max-width: 768px) {
    .container {
        max-width: 708px;
        padding: 0 30px;
    }
}
@media (max-width: 340px) {
    .container {
        max-width: 280px;
        padding: 0 20px;
        box-sizing: content-box;
    }
}



.hidden-by-visibility {        /* Неполное скрытие объекта (место под него остаётся) */
    visibility: hidden;
    transition: all 0.2s;
    
}
.hidden-by-display {        /* Полное скрытие объекта (скрывается и объект и место под него) */
    display: none !important;
    transition: all 0.2s;
}   

.hidden-by-height {
    max-height: 0;
  }
    






.hovered_select_menu {
    color: #c3392c !important;
    background-color: #FEE6E3 !important;
}
.hovered_aside-items:hover {
    background-color: #F6EFEE;
    cursor: pointer;
}

.darkned {
    filter: brightness(40%)
}
.darkned1_2 {
    filter: brightness(40%)
}






input {
    border: 1px solid gray;
}

.ramka {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
}




.bold {
    font-weight: bold;
}


/* Цвета: */

.green {
    color: green;
}
.red {
    color: red;
}

.ser {
    color: gray
}